<div class="inscri-container"> 
   <h2>Création d'un compte</h2>

   <form [formGroup]="registerForm" (ngSubmit)="register()">

    <div class="row">
      <div class="field">
        <label>Nom</label>
        <input type="text" formControlName="name" placeholder="Nom">
      </div>

      <div class="field">
        <label>Prénom</label>
        <input type="text" formControlName="prenom" placeholder="Prénom">
      </div>
    </div>

    <div class="field">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Email">
    </div>

    <div class="row">
      <div class="field">
        <label>Mot de passe</label>
        <input type="password" formControlName="password" placeholder="Mot de passe">
      </div>

      <div class="field">
        <label>Confirmez votre mot de passe</label>
        <input type="password" formControlName="confirmPassword" placeholder="Confirmer">
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label>Code image</label>
        <input type="text" placeholder="Saisir le code"> </div>

      <div class="captcha">
        <img src="https://dummyimage.com/120x40/eee/000&text=AB12" alt="Captcha" />
      </div>
    </div>

    <div class="checkbox">
      <input type="checkbox" formControlName="acceptTerms">
      <span>Accepter <a href="#">les conditions d'utilisation</a></span>
    </div>

    <button type="submit">S'INSCRIRE</button>

  </form>

  <p class="login-link">
    Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a>
  </p>
  
  <p class="message" *ngIf="message">{{ message }}</p>
</div>